/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.logo {
	margin:14px 0 0 0;
	width: 26px;
	height: 70px;
}